.answer-row
  border-bottom: solid 1px $clr-xweak
  margin-bottom: 10px
  padding-bottom: 10px

.answer-text
  overflow: visible
  margin-left: 95px

.answer-stats
  width: 95px
  float: left 
  overflow: hidden
  text-align: center
  font-size: 3.5em
  line-height: 0em

  .answer-best-status
    text-decoration: none

  .answer-status-text
    font-size: 10px
    line-height: 1em

  .answer-best
    color: $clr-good
    &:hover
      color: $clr-bad

  .answer-normal
    color: $clr-ok
    &:hover
      color: $clr-good
    .answer-status-text
      display: none